<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Khong 10 nghi hoc</h1>
    <form action="/search" method="get" style="margin: 10px 0px">
        <input placeholder="nhap key" name="key"/>
        <button type="submit">submit</button>
    </form>
    <table border="1">
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.descrpition}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a th:href="@{/view/{id}(id=${product.id})}">view</a>
                </td>
                <td>
                    <a th:href="@{/update/{id}(id=${product.id})}">update</a>
                </td>
                <td>
                    <a th:href="@{/delete/{id}(id=${product.id})}">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:text="back" th:href="@{/}"/>
</body>
</html>