<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans"
    xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="address" class="entity.Address">
        	<constructor-arg value="Hanoi"></constructor-arg>
            <constructor-arg value="Hanoi"></constructor-arg>
            <constructor-arg value="Vietnam"></constructor-arg>
        </bean>

		<bean id="emp" class="entity.Employee">
			<constructor-arg value="1" type="int"></constructor-arg>
			<constructor-arg value="Nguyen Van A"></constructor-arg>
			<constructor-arg>
				<ref bean="address"/>
			</constructor-arg>
        </bean>

</beans>